.contactInfoWrap {
  width: 100%;
}

.contactInfo:first-child {
  margin-bottom: 8px;
}

.contactInfo {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: var(--text-light);
  padding: 4px;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .contactInfo {
    max-width: 196px;
  }
}

.contactNumber {
  background-color: var(--bg);
  border-radius: 2px;
  transition: scale 300ms ease-in-out;
}

.contactNumber:hover {
  scale: 1.03;
}

.contactName {
  text-overflow: ellipsis;
  white-space: wrap;
  overflow: hidden;
}

.contactIcon {
  fill: var(--decor);
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 0;
  flex-shrink: 0;
}

.faPhone {
  fill: var(--decor);
  width: 20px;
  height: 20px;
  border: 1.5px solid var(--decor);
  border-radius: 100%;
  padding: 2px;
  margin: 0 0 0 2px;
  flex-shrink: 0;
}

.btnWrapper {
  border-left: 1px solid var(--decor);
  padding-left: 4px;
  margin-left: auto;
}

.deleteBtn {
  margin-bottom: 8px;
}

.editBtn span,
.deleteBtn span {
  background-color: var(--text-light);
  color: var(--text-dark);
}

.editBtn span:hover,
.deleteBtn span:hover,
.editBtn span:focus,
.deleteBtn span:focus {
  color: var(--text-light);
}

.deleteModal {
  display: flex;
  gap: 8px;
}

.deleteModalText {
  align-self: center;
  color: var(--text-dark);
  text-align: center;
}

.deleteBtnModal {
  margin-bottom: 8px;
}
