:root {
  --primary-brand: #ffd640;
  --secondary: #12254b;
  --decor: #038b95;
  --success: #31d0aa;
  --text-dark: #434455;
  --text-light: #fff;
  --error-input: #b9d961;
  --bg-input: #e1dbf8;
  --bg: rgba(0, 0, 0, 0.2);
}

#root {
  background-color: #7995c2;
  min-height: 100vh;
}

.contacts-container,
.container {
  max-width: 767.98px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
  overflow: hidden;
}

.contacts-container {
  margin-bottom: 0;
}

.mainContactForm {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .contacts-container,
  .container {
    max-width: 768px;
  }

  .mainContactForm {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.6),
        rgba(20, 20, 20, 0.2)
      ),
      url("../src/img/pawel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0 16px;
    align-self: flex-start;
    display: flex;
    align-items: last baseline;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  .mainContactForm form {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1158px) {
  .contacts-container,
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 1439.98px) {
  .contacts-container,
  .container {
    max-width: 1440px;
  }
}

.button-64 {
  align-items: center;
  background-image: linear-gradient(
    144deg,
    var(--primary-brand),
    var(--secondary) 50%,
    var(--decor)
  );
  border: 0;
  border-radius: 2px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: sans-serif;
  font-size: 24px;
  justify-content: center;
  line-height: 1.2em;
  max-width: 100%;
  min-width: 120px;
  padding: 2px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

@media screen and (max-width: 360px) {
  .button-64 {
    min-width: 80px;
    font-size: 18px;
  }
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: #16243f;
  padding: 4px 4px;
  border-radius: 2px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

.errorMsg {
  display: block;
  background-color: var(--error-input);
  border-radius: 2px;
  color: var(--text-light);
  padding: 8px;
  position: absolute;
}

.input {
  margin-bottom: 8px;
  border: none;
  background-color: var(--bg-input);
  border-radius: 2px;
  outline: none;
  padding: 4px;
  font-size: 20px;
}

.input:active,
.input:focus {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.input::placeholder {
  color: var(--bg);
}

h1 {
  color: var(--text-dark);
  text-align: center;
  border-bottom: 1px solid var(--decor);
  margin-top: 24px;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 56px;
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, var(--decor) 0px 6px 6px;
  }
}

.homePage {
  width: 100%;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(43, 43, 48, 0.2)
    ),
    url("../src/img/jenny.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-left: 1px solid var(--primary-brand);
  border-right: 1px solid var(--primary-brand);
  min-height: 70vh;
  padding: 0;
}
